<div class="jumbotron text-center">
  <h1>Welcome to Burger Joint!</h1>
</div>

<div class="text-center">
  <h2>Click on the name to eat!</h2>
</div>

<ul class="list-group text-center">
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>

<div class="text-center">
  <h2>Burgers that have been eaten!</h2>
</div>

<ul class="list-group text-center">
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block2 eaten=false}}
    {{/if}}
  {{/each}}
</ul>

<div class="text-center">
<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu"></label>
    <input type="text" id="bu" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>

